.menu{
    background-color: white;
    // margin-top: 50px;
    ul{
        @include flex(row, center, center);
        flex-wrap: wrap;
        gap: 10px;
        li{
            display: flex;
            cursor: pointer;
            text-transform: capitalize;
            // padding: 5px 10px;
            button{
                padding: 5px 10px;
                font-size: 1rem;
                &::selection{
                    background-color: $_color_1;
                    color: $_color_5;
                }
                &:focus{
                    background-color: $_color_1;
                    outline: none;
                    border: none;
                }
                &:hover{
                    // background-color: $_color_1;
                    color: $_color_5;
                }
            }
            button.active{
                background-color: $_color_1;
                color: $_color_5;
            }
        }
    }
    h1{
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 20px 0;
    }
    .container{
        .articles{
            min-height: 50vh;

            h2{
                text-align: center;
                margin: 100px 0 20px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        .articles_container{
            @include flex(row, center, center);
            flex-wrap: wrap;
            margin-top: 80px;
            .article_item{
                // @include border($_color_1);
                @include flex(column, center, center);
                padding: 20px;
                h3{
                    font-size: 1.5rem;
                    font-weight: 400;
                    // margin: 20px 0;
                    text-transform: capitalize;
                }
                p{
                    font-size: 0.9rem;
                    font-weight: 200;
                    margin: 10px 0;
                }
            }
        }
    }
    @include media-queries(sm){
        .container{
            padding: 40px 10px;
        }
    }
    @include media-queries(md){
        .container{
            padding: 50px 10px;
        }
    }
}

