body{
    background-color: $_color_1;
    overflow: hidden;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    // @include border($_color_2);
    // padding: 0 20px;
}

main{
    width: 100%;
    // border: solid 1px $_color_2;
    height: auto;
    .container{
        // border: solid 1px $_color_5;
        position: relative;
        // overflow-x: hidden;
        display: flex;
        section{
            flex: 1;
            padding: 20px;
        }
    }
}

.modal{
    background-color: $_color_1;
    box-shadow: 0 2px 4px gray;
    position: absolute;
        top: -40px;
        // left: 20px;
        // right: 10px;
        // bottom: 20px;
        z-index: 100;
    padding: 10px;
    border-radius: 20px;
}
.modal_off{
    right: -50vw;
}
.modal_on{
    right: 10px;
}

// PUB
.pub{
    background-color: $_color_4;
    overflow: hidden;
    display: flex;
    p{
        // @include border($_color_2);
        color: $_color_1;
        text-align: center;
        padding: 7px 0;
        font-size: 0.9rem;
        animation: pub 30s linear infinite;

    }
}
@keyframes pub{
    0%{
        transform: translateX(+100vw);
    }
    100%{
        transform: translateX(-100%);
    }
}

.text{
    // max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    p{
        text-align: center;
    }
    strong{
        font-weight: 400;
    }
    @include media-queries(md){
        p{
            font-size: 2.5rem;
        }
    }
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    color: $_color_5;
    i{
        animation: loading 3s linear infinite;
        font-size: 5rem;
    }
}

@keyframes loading{
    0%{
        opacity: 0;
        transform: rotate(0);
        color: $_color_5;
    }
    50%{
        opacity: 1;
        transform: rotate(360deg);
        color: $_color_4;
    }
    100%{
        opacity: 0;
        transform: rotate(720deg);
        color: $_color_5;
    }
}